<% if @show_task.count === 0 %>
    <h2 class='white'>No Overdue Tasks</h2>
<% else %>
    <% @show_task.each do |task| %>
        <div class='container-fluid'>
            <div class='row border-bottom border-5 border-danger p-3'>
                <h5 class='white'><span class='light-blue'>Task name:</span> <%= task.name %></h5>
                <h5 class='white'><span class='light-blue'>Task deadline:</span> <%= task.deadline%></h5>
                <% name = task.category.to_json %>
                <% parsed = JSON(name) %>
                <h5 class='white'><span class='light-blue'>Category name:</span> <%= parsed['name'] %></h5>
            </div>
        </div>
    <% end %>
<% end %>