<div class='d-flex flex-column align-items-center justify-content-center'>
    <%= image_tag 'tears.png', class:'img-fluid' %>
    <h3 class='text-warning font-weight-bold'>I'm lost</h3>
    <%= link_to "Let's go back", root_path, class:'btn btn-link btn-lg text-warning' %>
</div>