::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #A5C9CA; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A5C9CA; 
}

$primary: #2C3333;
$secondary: #395B64;

.white{
  color: #E7F6F2;
}

.light-blue{
  color: #A5C9CA;
}

$headings-font-family: 'Inter';

@import "bootstrap";

body{
  background-color: $primary;
}