<%= form_with model: category, class: 'form' do |form| %>

<div class='category-label'>
<p>Category name</p>
</div>
<%= form.text_field :name, class: 'form-text'%>
<%= form.submit class: 'form-submit' %>

  <div class='error_handler'>
    <% if flash[:error] %>
        <p class='error'><%= flash[:error] %></p>
    <% end %>
    </div>

<% end %>