<%= form_with model: category, class:'mt-5' do |form| %>

<div class='form-group'>
<p class='white'>Category name</p>
<%= form.text_field :name, class: 'form-control bg-dark text-light', placeholder: "Category Name"%>
<%= form.submit class: 'btn btn-secondary mt-3' %>
</div>

<% end %>

