<div class='container'>
    <div class='row'>
        <h1 class='light-blue'>JOURNAL APP</h1>
    </div>
    <div class='row'> 
        <h3 class='light-blue opacity-75 mb-5'>on rails</h3>
    </div>

    <div class='row mt-5'> 
        <h6 class='white'>Organize your category</h6>
        <h6 class='white'>Add tasks</h6>
        <h6 class='white'>Free Signup</h6>
    </div>
    
   
</div>