<div class='row p-5'>

    <h1 class='text-white font-weight-bold col-6 white'>To Do List</h1>
    
    <div class='col-6 d-flex align-items-center justify-content-between'>
        <div class='d-flex'>
            <%= link_to 'Overdue Tasks', tasks_overdue_path, class: 'btn btn-outline-secondary text-light' %>
            <%= link_to "Today's Tasks", tasks_today_path, class: 'btn btn-outline-secondary text-light' %>
            <%= link_to 'View Categories', categories_path, class: 'btn btn-outline-secondary text-light' %>
        </div>
        
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-secondary white' %>
    </div>
    
</div>